@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:wght@100..900&display=swap');

* {

    margin: 0;
    padding: 0;

}

header {
    background: linear-gradient(to right, #0d47a1, #1976d2, #29b6f6);

}

.nav-link {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 150%;
    margin-top: 1vh;
    text-decoration: underline;
    border-radius: 10vw;
    text-align: center;
    font-weight: 600;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.cta-navbar {
    display: none;
}
.nav-link {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 150%;
    margin-top: 1vh;
    text-decoration: underline;
    border-radius: 10vw;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}
.banner {
    background: linear-gradient(to right, #0d47a1, #1976d2, #29b6f6);
    width: 100%;
    height: 60vh;
}

.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

.banner-title h3 {
    color: white;
    text-align: center;
    font-size: 250%;
    margin-top: 40%;
    font-family: "Inter", sans-serif;

}

.banner-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-subtitle h3 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-family: "Inter", sans-serif;

}

.card-grid-image {
    display: flex;
    justify-content: center;
    padding-top: 5%;

}

.card-grid-image img {
    width: 80%;
    border-radius: 10vw;
}

.card-grid-title h3 {
    padding-top: 5%;
    font-family: "Inter", sans-serif;
    padding-left: 5%;
    font-weight: 800;
}

.card-grid-subtitle p{

    font-family: "Inter", sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.contact{
    padding-top: 5%;
    padding-bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-btn{
    
    background: linear-gradient(to right, #1976d2, #29b6f6);
    padding: 5%;
    color: white;
    border-radius: 10vw;
}

.contact-btn h3{

    font-size: 130%;
}

@media (min-width:900px){

    .banner-title h3{
        margin-top: 15%;
    }

}

@media (min-width: 1200px){

    .card-grid-image img{
        width: 30%;
    }

    .card-grid-title{
        padding-left: 15%;
    }
    .card-grid-title h3{
        font-size: 500%;
    }

    .card-grid-subtitle{
        font-size: 200%;
        padding-left: 14%;
        padding-right: 15% ;
    }

    .contact-btn{
        padding: 3%;
        width: 30%;
    }
    .contact-btn h3{
        text-align: center;
        font-size: 250%;
    }

    .navbar-nav {
      
        width: 100%;
        justify-content: right;
        padding-right: 5%;
    }
}   