/*

    Styling for the header

*/


.navbar {
    background-color: transparent;
}


header {
    background: linear-gradient(to right, #0d47a1, #1976d2, #29b6f6);
    height: 100vh;
}

.cta-navbar {
    display: none;
}

.banner-information a{
    text-decoration: none;
}

.cta-banner:hover{
    background-color: #29b6f6;
}
.nav-link {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 150%;
    margin-top: 1vh;
    border-radius: 10vw;
    text-align: center;
    font-weight: 600;
}




.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.banner-information h3 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    margin-left: 5vw;
    margin-top: 20vh;
}


.banner-information div {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #2FC0C5;
    width: 60vw;
    height: 10vh;
    margin-top: 3vh;
    margin-left: 5vw;
    text-align: center;
    border-radius: 50vw;
    font-size: 150%;
    font-weight: 600;

}


/*

    Main section
*/



/*
    Value element styling
*/

.main-value-element {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-right: 5%;
}

.main-value-element h4 {
    margin-left: 4vw;
    text-align: center;
    font-weight: 100;
}

.value-element {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-right: 3vw;
    margin-left: 3vw;
    align-items: center;
    text-align: center;


}

.logo-img-value-element {
    width: 25%;
}


.value-proposition {
    margin-top: 20%;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 20%;

}

.value-element-1 {

    margin-bottom: 10%;
}

.value-element-2 {
    margin-bottom: 5%;
}

.value-element-1,
.value-element-2,
.value-element-3 {

    height: 100%;
    background-color: #2778aa1d;
    border-radius: 50vw;

}



.value-element h4 {
    font-weight: 200;
    font-size: 130%;
    margin-right: 10vw;
}


.dollar-icon {
    font-size: 400%;

    color: #0078C4;
}

.user-icon {
    color: #0078C4;
    font-size: 400%;


}

.world-icon {

    font-size: 400%;
    color: #0078C4;


}

.logo-img-value-element {
    margin-left: 8vw;
}

.main-value-element-text {

    margin-left: 3vw;
}

.testimonials {
    background: linear-gradient(to right, #0d47a1, #1976d2, #29b6f6);
    padding-top: 5%;
    padding-bottom: 3%;
    margin-bottom: 10%;
}

.testimonial h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
}

.testimonial ul li {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 125%;
    color: white;
}

.testimonial-img {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-information {
    margin-top: 3vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}
.social-proof-title{
    width: 100%;
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
}

.social-proof-title h3{
    font-size: 200%;
    text-align: center;
    font-weight: 600;
    color: #0078C4;
}
.social-proof {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}



.social-element {
    background: linear-gradient(to right, #0d47a1, #1976d2, #29b6f6);
    border-radius: 4vw;
    color: white;
    padding: 5vw;
    margin-top: 5vh;
    width: 80%;

}



.social-proof-img-wrapper img {

    border-radius: 100vw;
    margin-bottom: 2vw;
}


footer {
    width: 100%;
    height: 30vh;
    background: linear-gradient(to right, #0d47a1, #1976d2, #29b6f6);
}


@media (min-width: 900px) {
    header{
        height: 80vh;
    }
    .banner-information h3 {
        font-size: 300%;
    }

    .banner-information div {
        width: 30%;
    }

    .main-value-element-txt-wrapper h4 {
        font-size: 200%;
    }

    .dollar-icon,
    .world-icon,
    .user-icon {
        font-size: 6rem;
    }

    .value-proposition {
        margin-bottom: 15%;
    }

    .testimonials {

        margin-bottom: 5%;

    }


    .testimonial-img img {
        width: 50%;
        border-radius: 5vw;
        margin-bottom: 3rem;
    }
    .social-proof-title h3{
        font-size: 200%;

    }
    .social-proof {
        justify-content: center;
    }


    .social-proof-content {
        font-size: 2rem;
    }

    .social-proof-img-wrapper img {
        width: 20%;
    }
    .social-element {
        width: 50%;
    }
}

@media (min-width: 1200px) {

    .navbar-brand{
        width: 10%;
    }
    .navbar-brand img{
        width: 100%;
    }
    .navbar-nav a {
        text-decoration: none;
        font-size: 150%;
    }

    .banner-information h3 {
        margin-top: 10%;
    }




    .cta-navbar {
        display: flex;
        width: 20vw;
        text-align: center;
        background-color: #42e2e7;
        margin-left: 60%;
        margin-right: -100%;
    }

    .cta-navbar h3 {
        width: 100%;
        color: white;
        font-size: 125%;
    }

    .banner-information div {
        width: 20%;
    }

    .main-value-element {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .main-value-element img {
        margin-left: 0;
        width: 10%;
    }

    .value-proposition {
        margin-top: 13%;
    }

    .value-element h4 {
        font-size: 150%;
    }

    .testimonials {
        display: flex;
    }

    .testimonial-img img {
        width: 70%;
    }
    .social-proof-title h3{
        font-size: 300%;

    }
    .social-element {

        width: 35%;
    
    }
}