/*

    Styling for the header

*/


.navbar{
    background-color: transparent;
}


header{
    background: linear-gradient(to right, #0d47a1, #1976d2, #29b6f6);
    height: 100vh;
}   


.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}

.banner-information h3{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    margin-left: 5vw;
    margin-top: 20vh;
}

.banner-img { 
    position: absolute;
    opacity: 20%;
    bottom: 20vh;
    left: 45vw;
    width: 175px;

}
.banner-information div{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #2FC0C5;
    width: 60vw;
    height: 10vh;
    margin-top: 3vh;
    margin-left: 5vw;
    text-align: center;
    border-radius: 50vw;
    font-size: 125%;
    
}


/*

    Main section
*/


/*
    Value element styling
*/
.value-element{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;

}

.value-element h3{
    font-size: 5vw;
}

.value-element-1, 
    .value-element-2,
        .value-element-3{
            height: 15vh;
            background-color: #2778aa1d;
            border-radius: 50vw;
            margin-left: 5vw;
            margin-right: 5vw;
        }

.value-element-1{
    margin-top: 7vh;
}

.value-element h3{
    font-weight: 200;
    font-size: 130%;
    margin-right: 10vw;
}


.dollar-icon{
    font-size: 15vw;

    color: #0078C4;
}

.user-icon{
    color: #0078C4;
    font-size: 15vw;

}

.world-icon{
    font-size: 15vw;
    color: #0078C4  ;


}

.logo-img-value-element{
    margin-left: 8vw;
}

.main-value-element-text{
    
    margin-left: 3vw;
}


.testimonial h3, 
.testimonial p,
.testimonial ul li{
    font-family: "Inter", sans-serif;

    color: #43AED9;
}

.testimonial-img{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-information{
    margin-top: 3vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: left;
}


.social-element{
    background-color: #42b7ffb3;
    border-radius: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    padding: 5vw;
    margin-top: 5vh;


}

.social-proof-content{
    margin-left: 5vw;
  
}

.social-proof-img-wrapper img {
    margin-left: 3vw;
    border-radius: 100vw;
    margin-bottom: 2vw;
}

.social-proof-name{
    margin-left: 5vw;
  
}

.social-proof-proffesion{
    margin-left: 5vw;

}

.faq{
    text-align: center;
}

.faq{
    font-family: "Inter", sans-serif;
    color: #43AED9;
    margin-left: 10vw;
    margin-right: 10vw;
}
.faq-title{
    margin-top: 5vh;
    
}

.faq-element{
    margin-top: 5vh;
}

.faq-element-title{
    text-align: left;
    margin-right: 5vw;
}

.faq-element-description{
    text-align: left;
    display: none;
}
.faq-element-presentation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-element-presentation i{
    font-size: 7vw;
}
.faq-element{
    background-color: #ffffff3e;
}


.bottom-cta-title{
    margin-top: 7vh;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #29b6f6;
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.bottom-cta-form {
    
   text-align: center;
}
.bottom-cta-form form input{
    width: 70vw;
    margin-top: 4vh;
    border-radius: 50vw;
    text-align: center;
    border: 0.1px solid rgba(0, 0, 0, 0.378);
}
.bottom-cta-form form textarea{
    width: 70vw;
    margin-top: 4vh;
    height: 20vh;
    text-align: center;
}

.bottom-cta-button{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 15vh;
}

.bottom-cta-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 5vh;
    font-family: "Inter", sans-serif;
    background-color: #29b6f6;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 50vw;
}
.form-landing input{
    height: 5vh;
}
footer{
    width: 100%;
    height: 30vh;
    background-color: #29b6f6;
}

@media (min-width: 320px) and (max-width:375px) {
    header{
        height: 80vh;
    }
}

@media (min-width: 375px) and (max-width:425px) {
    header{
        height: 80vh;
    }
}

@media (min-width: 425px) and (max-width: 768px) {

    header{
        height: 80vh;
    }
    .value-element i{
        font-size: 6vw;
    }

    .testimonial-img img{
        width: 70vw;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    header{
        height: 70vh;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .cta-navbar{
        background-color: white;
        width: 15vw;
        height: 6vh;
        border-radius: 2vw;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
    }

    .cta-navbar h3{
        color: #29b6f6;
        font-size: 3vw;
        font-weight: 500;
    }
    .navbar-nav{
        margin-left: 45vw;
    }
    .nav-link{
        color: white;
        font-size: 2vw;
        font-family: "Inter", sans-serif;
    
    }

    .banner-information div{
        width: 30vw;
        font-size: 2.5vw;
    }

    .logo-img-value-element{
        width: 200px;
    }

    .main-value-element h3{
        font-size: 3vw;
    }
    .value-element i{
        font-size: 8vw ;

    }

    .value-element-1 h3,
    .value-element-2 h3,
    .value-element-3 h3{
        font-size: 3vw;
    }

    .testimonials{
        margin-top: 20vh;
    }


    .testimonial-information p {
        font-size: 2.5vw;
        text-align: center;
    }

    .testimonial-information ul{
        margin-left: 10vw;
        font-size: 2vw;
    }

    .testimonial-information h3{
        font-size: 4vw;
        text-align: center;
    }

    .testimonial-img img{
        width: 700px;
    }

    .social-element{
        height: 70vh;
    }

    .social-proof-content{
        font-size: 3vw;
        font-weight: 200;

    }
    .social-proof-img-wrapper img{
        margin-top: 3vh;
        width: 150px;
        margin-left: 5vw;
    }
    .social-proof-name h3{
        font-size: 3vw;        
        font-weight: 200;
    }
}

@media (min-width: 987px) and (max-width: 1220px) {

    header{
        height: 70vh;
    }

    .navbar-brand img{
        width: 200px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .cta-navbar{
        background-color: white;
        width: 15vw;
        height: 6vh;
        border-radius: 2vw;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
    }

    .cta-navbar h3{
        color: #29b6f6;
        font-size: 2vw;
        display: flex;
        align-self: center;
        margin-top: 1vh;
        font-weight: 700;
    }
    .navbar-nav{
        margin-left: 37vw;
    }
    .nav-link{
        color: white;
        font-size: 2vw;
        font-family: "Inter", sans-serif;
    
    }

    .banner-information div{
        width: 30vw;
        font-size: 2.5vw;
    }   

    .value-proposition{
        display: flex;
        background-color: #42a5e319;
        border-radius: 20vw;
        width: 95vw;
        height: 40vh;
        margin-top: 10vh;
        margin-left: 3vw;
        margin-right: 2vw;
      
    }


    .value-element i{
        margin-top: 4vh;
    }
    .value-element h3{
        margin-left: 10vw;
    }
    .value-element{
        margin: 0;  
        justify-content: center;
        background-color: transparent;
        display: block;
    }
    .logo-img-value-element{
        width: 200px;
    }
    .value-element i{
        font-size: 10vw;
    }
    .value-element h3{
        margin-top: 5vh;
        font-size: 2vw;
        
    }
    .main-value-element{
        display: flex;
        margin-top: 5vh;
    }

    .main-value-element h3{
        font-size: 3vw;
    }
    .testimonials{
        margin-top: 10vh;
    }
    .testimonial{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .testimonial-img img{
        width: 500px;
    }

    .social-proof{
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
    }
    .social-element{
        margin: 0;
        width: 30vw;
    }

    .social-proof-content{
        margin: 0;
        font-size: 1.65vw;
    }

    .social-proof-img-wrapper img{
        margin: 0;
        margin-top: 3vh;
        width: 100px;
        margin-bottom: 2vh;
    }

    .social-proof-name{
        margin-top: 3vh;
        margin: 0;
    }

    .social-proof-proffesion{
        margin: 0;
    }


    .social-element{
        height: 60vh;
    }
    .faq{
        margin-top: 15vh;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .faq-title h3{
        font-size: 3vw;
    }
    .faq-description p{
        margin-top: 3vh;
        font-size: 1.5vw;
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .faq-element-presentation i{
        font-size: 2.5vw;
    }   
}
@media (min-width: 1220px) and (max-width: 1440px) {
    header{
        height: 70vh;
    }

    .navbar-brand img{
        width: 200px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .cta-navbar{
        background-color: white;
        width: 15vw;
        height: 6vh;
        border-radius: 2vw;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
    }

    .cta-navbar h3{
        color: #29b6f6;
        font-size: 2vw;
        display: flex;
        align-self: center;
        margin-top: 1vh;
        font-weight: 700;
    }
    .navbar-nav{
        margin-left: 45vw;
    }
    .nav-link{
        color: white;
        font-size: 2vw;
        font-family: "Inter", sans-serif;
    
    }

    .banner-information div{
        width: 30vw;
        font-size: 2.5vw;
    }   

    .value-proposition{
        display: flex;
        background-color: #42a5e319;
        border-radius: 20vw;
        width: 95vw;
        height: 40vh;
        margin-top: 10vh;
        margin-left: 3vw;
        margin-right: 2vw;
      
    }


    .value-element i{
        margin-top: 4vh;
    }
    .value-element h3{
        margin-left: 10vw;
    }
    .value-element{
        margin: 0;  
        justify-content: center;
        background-color: transparent;
        display: block;
    }
    .logo-img-value-element{
        width: 200px;
    }
    .value-element i{
        font-size: 10vw;
    }
    .value-element h3{
        margin-top: 5vh;
        font-size: 2vw;
        
    }
    .main-value-element{
        display: flex;
        margin-top: 5vh;
    }

    .main-value-element h3{
        font-size: 3vw;
    }
    .testimonials{
        margin-top: 10vh;
    }
    .testimonial{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .testimonial-img img{
        width: 500px;
    }

    .social-proof{
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
    }
    .social-element{
        margin: 0;
        width: 30vw;
    }

    .social-proof-content{
        margin: 0;
        font-size: 1.65vw;
    }

    .social-proof-img-wrapper img{
        margin: 0;
        margin-top: 3vh;
        width: 100px;
        margin-bottom: 2vh;
    }

    .social-proof-name{
        margin-top: 3vh;
        margin: 0;
    }

    .social-proof-proffesion{
        margin: 0;
    }


    .social-element{
        height: 60vh;
    }
    .faq{
        margin-top: 15vh;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .faq-title h3{
        font-size: 3vw;
    }
    .faq-description p{
        margin-top: 3vh;
        font-size: 1.5vw;
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .faq-element-presentation i{
        font-size: 2.5vw;
    }
}

@media (min-width: 1440px) and (max-width: 2000px   ) {

    header{
        height: 70vh;
    }

    .navbar-brand img{
        width: 200px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .cta-navbar{
        background-color: white;
        width: 15vw;
        height: 6vh;
        border-radius: 2vw;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
    }

    .cta-navbar h3{
        color: #29b6f6;
        font-size: 2vw;
        display: flex;
        align-self: center;
        margin-top: 1vh;
        font-weight: 700;
    }
    .navbar-nav{
        margin-left: 45vw;
    }
    .nav-link{
        color: white;
        font-size: 2vw;
        font-family: "Inter", sans-serif;
    
    }

    .banner-information div{
        width: 30vw;
        font-size: 2.5vw;
    }   

    .value-proposition{
        display: flex;
        background-color: #42a5e319;
        border-radius: 20vw;
        width: 95vw;
        height: 40vh;
        margin-top: 10vh;
        margin-left: 3vw;
        margin-right: 2vw;
      
    }

    .testimonials{
        margin-top: 10vh;
    }
    .testimonial{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .testimonial-img img{
        width: 1000px;
    }

    .testimonial-information h3{
        font-size: 3vw;
    }
    .testimonial-information p{
        font-size: 2vw;
    }
    .testimonial-information ul li{
        font-size: 1.5vw;
    }
    .value-element i{
        margin-top: 4vh;
    }
    .value-element h3{
        margin-left: 10vw;
    }
    .value-element{
        margin: 0;  
        justify-content: center;
        background-color: transparent;
        display: block;
    }
    .logo-img-value-element{
        width: 200px;
    }
    .value-element i{
        font-size: 10vw;
    }
    .value-element h3{
        margin-top: 5vh;
        font-size: 2vw;
        
    }
    .main-value-element{
        display: flex;
        margin-top: 5vh;
    }

    .main-value-element h3{
        font-size: 3vw;
    }
    .testimonials{
        margin-top: 10vh;
    }
    .testimonial{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .testimonial-img img{
        width: 500px;
    }

    .social-proof{
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
    }
    .social-element{
        margin: 0;
        width: 30vw;
    }

    .social-proof-content{
        margin: 0;
        font-size: 1.65vw;
    }

    .social-proof-img-wrapper img{
        margin: 0;
        margin-top: 3vh;
        width: 100px;
        margin-bottom: 2vh;
    }

    .social-proof-name{
        margin-top: 3vh;
        margin: 0;
    }

    .social-proof-proffesion{
        margin: 0;
    }


    .social-element{
        height: 60vh;
    }
    .faq{
        margin-top: 15vh;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .faq-title h3{
        font-size: 3vw;
    }
    .faq-description p{
        margin-top: 3vh;
        font-size: 1.5vw;
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .faq-element-presentation i{
        font-size: 2.5vw;
    }

}

@media (min-width: 2000px) and (max-width: 2560px   ) {

    header{
        height: 70vh;
    }

    .navbar-brand img{
        width: 200px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .cta-navbar{
        background-color: white;
        width: 15vw;
        height: 6vh;
        border-radius: 2vw;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2vw;
    }

    .cta-navbar h3{
        color: #29b6f6;
        font-size: 2vw;
        display: flex;
        align-self: center;
        margin-top: 1vh;
        font-weight: 700;
    }
    .navbar-nav{
        margin-left: 50vw;
    }
    .nav-link{
        color: white;
        font-size: 2vw;

        margin-left: 1.5vw;
        font-family: "Inter", sans-serif;
    
    }


    .banner-information div{
        width: 30vw;
        font-size: 2.5vw;
    }   

    .value-proposition{
        display: flex;
        background-color: #42a5e319;
        border-radius: 20vw;
        width: 95vw;
        height: 40vh;
        margin-top: 10vh;
        margin-left: 3vw;
        margin-right: 2vw;
      
    }


    .value-element i{
        margin-top: 4vh;
    }
    .value-element h3{
        margin-left: 10vw;
    }
    .value-element{
        margin: 0;  
        justify-content: center;
        background-color: transparent;
        display: block;
    }
    .logo-img-value-element{
        width: 200px;
    }
    .value-element i{
        font-size: 10vw;
    }
    .value-element h3{
        margin-top: 5vh;
        font-size: 2vw;
        
    }
    .main-value-element{
        display: flex;
        margin-top: 5vh;
    }

    .main-value-element h3{
        font-size: 3vw;
    }
    .testimonials{
        margin-top: 10vh;
    }
    .testimonial{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .testimonial-img img{
        width: 1000px;
    }

    .testimonial-information h3{
        font-size: 3vw;
    }
    .testimonial-information p{
        font-size: 2vw;
    }
    .testimonial-information ul li{
        font-size: 1.5vw;
    }
    .social-proof{
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
    }
    .social-element{
        margin: 0;
        width: 30vw;
    }

    .social-proof-content{
        margin: 0;
        font-size: 1.65vw;
    }

    .social-proof-img-wrapper img{
        margin: 0;
        margin-top: 3vh;
        width: 100px;
        margin-bottom: 2vh;
    }

    .social-proof-name{
        margin-top: 3vh;
        margin: 0;
    }

    .social-proof-proffesion{
        margin: 0;
    }


    .social-element{
        height: 60vh;
    }
    .faq{
        margin-top: 15vh;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .faq-title h3{
        font-size: 3vw;
    }
    .faq-description p{
        margin-top: 3vh;
        font-size: 1.5vw;
        text-align: center;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .faq-element-presentation i{
        font-size: 2.5vw;
    }
    .faq-description p{
        font-size: 1.75vw;
    }
    .faq-element-title{
        font-size: 1.6vw; 
    }
    .bottom-cta-form form input{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom-cta-form form input{
        font-size: 2vw;
        width: 30vw;
    }
    .bottom-cta-title h3{
        text-align: center;
        font-size: 2vw;

    }
    .bottom-cta-form form textarea  {
        font-size: 2vw;
        width: 50vw;
        border: 1px solid rgba(0, 0, 0, 0.388);
    }
    .bottom-cta-button button{
        width: 20vw;
        font-size: 2vw;
        font-weight: 600;
    }

    .social-proof-name h3{
        font-size: 2.5vw;
    }
    .social-proof-proffesion{
        font-size: 1.5vw;
        font-weight: 200;
    }

}