@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:wght@100..900&display=swap');

* {

  margin: 0;
  padding: 0;
 
}

body{
  width: 100%;
}


.top-bar {
  display: flex;
  justify-content: space-between;
}

.company-name {
  margin-top: 5vh;
  margin-left: 5vw;
}

.company-name h1 {
  color: #43AED9;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 150%;
}

.login-options {
  display: flex;
}

.login-options {
  margin-right: 0px;

}

.login-btn {

  border: #43AED9;
  margin-top: 3vh;
  margin-right: 5vw;

}

.login-btn {
  text-align: center;
  border-style: solid;
  border-color: #43AED9;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: #43AED9;

}

.login-btn a {
  text-decoration: none;
}


.login-btn:hover {
  cursor: pointer;
  border-width: 2px;
}


.join-btn {

  margin-top: 3vh;
  margin-right: 5vw;
  padding: 2%;
  background-color: #43AED9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-btn h1 {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 200%;

}

.join-btn:hover {
  background-color: #1e92c0;
  cursor: pointer;
}

/* CSS for the company logo*/
.company-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo img {
  width: 15%;
  height: 15%;

}

/*  Styling for the main navigation navbar */


.main-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}


.main-navigation nav {
  display: flex;
}

.main-navigation nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation nav ul li {
  font-family: "Inter", sans-serif;
  color: #1e92c0;
  font-size: 150%;
  margin: 0 50px;
}

.main-navigation nav ul li:hover {
  cursor: pointer;
}

/*Styling for the line of separation*/

.separation-line {
  margin-top: 3vh;
  width: 100%;
  height: 0.3vh;
  background-color: #43AED9;

}

/*Styling for the main banner*/

.main-banner-container {
  margin-top: 1vh;
  width: 100%;
  display: flex;
}


.main-banner-image {

  width: 50%;
}

.main-banner-image img {
  width: 100%;
  height: 100%;

}

.main-banner-information {

  width: 50%;
  background-color: #43AED9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.main-banner-information h1 {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: white;
}

.main-banner-information-cta-btn {

  font-family: "Inter", sans-serif;
  background-color: white;
  margin-top: 3vh;
  color: #43AED9;
  padding: 3%;

}

.main-banner-information-cta-btn:hover {
  cursor: pointer;
}



/*Styling for the hooks messages on the page */

.hook-message{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  
}

.hook-message h1{
  color: #43AED9;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}


.hook-message-2{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  text-align: center;
  
}

.hook-message-2 h1{
  color: #43AED9;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}


/*Styling for the grid section where you show the path to land a job*/
.path-grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
  gap: 0.5em;
}

.path-grid-wrapper div {
  padding: 3em;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.path-grid-wrapper div p {
  font-family: "Inter", sans-serif;
  color: white;
  cursor: auto;
}

.step-1, 
.step-2,
.step-3 {
  background-color: #7bcff0;
  margin-left: 25%;
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-1 p, 
.step-2 p, 
.step-3 p {
  font-size: 200%;
}

.description-1,
.description-2,
.description-3 {
  background-color: #43AED9;
  
  margin-right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description-1 p,
.description-2 p,
.description-3 p {
  font-size: 100%;
}

.title {
  font-size: 200% !important;
  font-weight: 600;
}

.glow {
  box-shadow: 0 0 50px rgb(255, 255, 255); 
  transition: box-shadow 0.5s ease-in-out; 
}
.scale {
  transform: scale(1.05);
  transition: transform 1.2s ease-out, opacity 0.5s ease-out; /* Smooth transition */
  opacity: 1;
}
/*Styling for the products or elements of the page*/

.company-elements-wrapper {
  display: flex;
  
  justify-content: space-between;
 
  height: 40vh;
}

.company-elements-wrapper div {

  height: 30vh;
  width: 30vw;
  background-color: #43AED9;
  border-style: solid;
  border-color: #43AED9;
  display: flex;
  justify-content: left;
  align-items: center;
}
.company-elements-wrapper h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 400%;
  color: #1e92c0;
  margin-left: 3vh;
}



.company-element h1{
  width: 20vw;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: white;
  margin-left: 1vh;
  font-size: 150%;
  text-align: center;
}
.company-element-2 h1{
  width: 20vw;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: white;
  margin-left: 1vh;
  font-size: 150%;
  text-align: center;
}
.company-element-3 h1{
  width: 20vw;
  font-family: "Inter", sans-serif;
  font-size: 150%;
  text-align: center;
  font-weight: 200;
  color: white;
  margin-left: 1vh;

}

.company-element{

  margin-left: 2vw;
}

.company-element-3{

  margin-right: 2vw;
}

.company-element,
.company-element-2,
.company-element-3{


  background: linear-gradient(
    to right,
    #43AED9 70%,
    white 30%

  );
}

/* Styling for the btn to schedule an appointment*/
.btn-schedule-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.cta-btn-schedule{

  font-family: "Inter", sans-serif;
  background-color: #43AED9 ;
  margin-top: 3vh;
  color: white;
  padding: 3%;
}

/* Styling for the carousel*/
.custom-carousel {
  height: 100% /* Adjust the height as needed */
}

.custom-carousel .carousel-item img {
  height: 20vh;
  width: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el área sin estirarse */
  object-position: center 10px; /* Ajusta la posición de la imagen dentro del contenedor */
}


/*Styling for the section where the reasons to join the company are justified*/

.justification-1, 
.justification-2,
.justification-3{

  display: flex;
  justify-content: space-between;
}

.justification-text{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.justification-img{
  width: 50%;
 
}
.justification-img img{
  width: 100%;
  object-fit: cover;
}
.justification-text h3{
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

