@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:wght@100..900&display=swap');

* {

  margin: 0;
  padding: 0;
 
}

body{
  width: 100%;
}


.top-bar {
  display: flex;
  justify-content: space-between;
}

.company-name {
  margin-top: 5vh;
  margin-left: 5vw;
}

.company-name h1 {
  color: #43AED9;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 150%;
}

.login-options {
  display: flex;
}

.login-options {
  margin-right: 0px;

}

.login-btn {

  border: #43AED9;
  margin-top: 3vh;
  margin-right: 5vw;

}

.login-btn {
  text-align: center;
  border-style: solid;
  border-color: #43AED9;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
}

.login-btn h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 100%;
  color: #43AED9;

}

.login-btn:hover {
  cursor: pointer;
  border-width: 2px;
}


.login-btn a {
  text-decoration: none;
}


.join-btn {

  margin-top: 3vh;
  margin-right: 5vw;
  padding: 2%;
  background-color: #43AED9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
}

.join-btn h1 {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 200%;

}

.join-btn:hover {
  background-color: #1e92c0;
  cursor: pointer;
}

/* CSS for the company logo*/
.company-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo img {
  width: 15%;
  height: 15%;

}

/*  Styling for the main navigation navbar */


.main-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}


.main-navigation nav {
  display: flex;
}

.main-navigation nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation nav ul li {
  font-family: "Inter", sans-serif;
  color: #1e92c0;
  font-size: 150%;
  margin: 0 50px;
}

.main-navigation nav ul li:hover {
  cursor: pointer;
}

.main-navigation a{
  text-decoration: none;
}
/*Styling for the line of separation*/

.separation-line {
  margin-top: 3vh;
  width: 100%;
  height: 0.3vh;
  background-color: #43AED9;

}

/*Styling for the first section of the webpage*/

.first-section{
    width: 225vh;
    height: 75vh;
    margin-top: 10vh;
    background: lightskyblue;
}
.first-section div{
 float: left;
}

.left-container{
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  width: 50%;
  height: 100%;
}

.left-container h3{
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 600;
    margin-top: 33%;
    text-align: center;
}

.right-container{
    color: purple;
    width: 50%;
    height: 100%;
}
.right-container img{
    width: 100%;
    height: 100%;
}

 /*Styling for the second section of the webpage*/

 .second-section{
  width: 225vh;
  height: 60vh;
  
  margin-top: 10vh;
 }

 .second-section h3{
  text-align: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  -webkit-background-clip: text;
  color: transparent;
 }
 .second-section div{
  float: left;
  margin-left: 10%;
  margin-top: 2%;
 }

 .container-1{
  background-color: #ffffff;
  width: 20%;
  height: 80%;
 }

 .container-1 img{
  width: 80%;
  height: 80%;
  margin-left: 8% ;
 }

 .container-1 h4{
  margin-top: 5%;
  text-align: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  -webkit-background-clip: text;
  color: transparent;
 }

 .container-2{
  background-color: #ffffff;
  width: 20%;
  height: 80%;
 }

 .container-2 img{
  width: 80%;
  height: 80%;
  margin-left: 8% ;
 }

 .container-2 h4{
  margin-top: 5%;
  text-align: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  -webkit-background-clip: text;
  color: transparent;
 }

 .container-3{
  background-color: #ffffff;
  width: 20%;
  height: 80%;
 }

 .container-3 img{
  width: 80%;
  height: 80%;
  margin-left: 8% ;
 }

 .container-3 h4{
  margin-top: 5%;
  text-align: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  -webkit-background-clip: text;
  color: transparent;
 }

 /*Styling for the thirs section of the webpage*/
 .third-section{
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  width: 225vh;
  height: 40vh;
 }

 .container-text{
  width: 100%;
  height: 70%;
 
  padding-top: 5%;
 }
 .container-text h2{
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 250%;
  
 }

 .container-text h3{
  margin-top: 2%;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 150%;
 }

 /*Styling for the fourth section of the webpage */
 .fourth-section{
  background-color: white;
  width: 225vh;
  height: 40vh;
 }

 .container-text-2{
  width: 100%;
  height: 70%;
 
  padding-top: 5%;
 }

 .container-text-2 h3{
  text-align: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 150%;
  margin-top: 2%;
 }


 /*Styling of the fifth section of the webpage*/
 
 .fifth-section{
    width: 225vh;
    height: 75vh;
    
 }

 .fifth-section div{
  float: left;
 }

 .left-container-2{
  padding-top: 3%;
  width: 50%;
  height: 91%;
  background-color: whitesmoke;
 }

 .left-container-2 li{
  margin-left: 15%;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 150%;
  background: linear-gradient(to right,#26488C, #2983A5, #2BA1B2, #2CBFBF);
  -webkit-background-clip: text;
  color: transparent;
  list-style: none; /* Remove default bullets */
  
  
 }

 .left-container-2 li::before {
  content: '\2022'; /* Unicode for bullet character */
  color: #26488C; /* Color of the bullet */
  position: absolute;
  left: 5%; /* Adjust this value to position the bullet correctly */
}

.right-container-2 {
  background: linear-gradient(to right, #26488C, #2983A5, #2BA1B2, #2CBFBF);
  width: 50%;
  height: 100%;
  
}

.right-container-2 h3 {
  margin-top: 25%;
  margin-left: 5%;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 150%;
}

.right-container-2 ul {
  padding-left: 0; /* Remove the default padding of <ul> */
  list-style: none; /* Remove default bullets */
}

.right-container-2 li {
  margin-left: 5%; /* Adjust margin to move the text closer */
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 150%;
  color: white;
  position: relative; /* Necessary for the ::before pseudo-element */
  padding-left: 1em; /* Add padding for the bullet */
}

.right-container-2 li::before {
  content: '\2022'; /* Unicode for bullet character */
  color: white; /* Bullet color */
  position: absolute;
  left: 10%; /* Adjust to move the bullet closer to the text */
  line-height: 1; /* Vertical alignment */
}

/*Styling for the sixth section of the webpage*/
 
.sixth-section{
  width: 225vh;
  height: 80vh;
}

.sixth-section h2{
  padding-top: 10%;
  text-align: center;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, #26488C, #2983A5, #2BA1B2, #2CBFBF);
  -webkit-background-clip: text;
  color: transparent;
}

.btn-grow{
  margin-left: 60vh;
  margin-top: 10vh;
  background: linear-gradient(to right, #26488C, #2983A5, #2BA1B2, #2CBFBF);
  width: 45%;
  height: 20%;
  border-radius: 80px;
  padding-top: 1%;
}

.btn-grow h3{
  margin-top: 5%;
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
  margin-top: 4%;
  font-weight: 500;
  font-size: 150%;
}

.btn-grow:hover{
  
    
    transition: 0.5s;
    background-color: #ffffff;
    box-shadow: 0 0 10px #2CBFBF, 0 0 40px #2CBFBF, 0 0 60px #2CBFBF;
}



.btn-grow a{
  text-decoration: none;
}

/*Styling for the footer */

footer{
  width: 225vh;
  height: 50vh;
  background: linear-gradient(to right, #26488C, #2983A5, #2BA1B2, #2CBFBF);
}

footer div{
  float: left;
}

.info-container{
  width: 50%;
  height: 100%;
}

.icon-container{
  width: 50%;
  height: 100%;
 
}

.icon-container div{
    float: left;
    color: rgb(0, 0, 0); 
    background-color: transparent;
    margin-left: 15%;
    margin-top: 20%;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 30px;
     
  
}


.icon-facebook img{
  width: 35px;
  height: 35px;
  margin-left: 15%;
  margin-top: 15%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.icon-facebook:hover{
  
  
}

.icon-facebook:hover img{
  
}

.icon-instagram img{
  width: 35px;
  height: 35px;
  margin-left: 15%;
  margin-top: 15%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.icon-location img{
  width: 35px;
  height: 35px;
  margin-left: 15%;
  margin-top: 15%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}